*{margin: 0px ;padding: 0px ;font-size: 16px;}
body{background: whitesmoke}
@font-face
{
    font-family: 华文行楷;
    src: url(../STXINGKA.TTF);
}
.nav{margin-top: 5px}
.navbar-inverse .navbar-nav>li>a:hover{background-color: #6997c7}
.nav>li>a:hover{background: #6997c7; color: white;border-radius: 20px;}/* 鼠标移入事件*/
.nav>li>a:focus{background: none;}/*  鼠标点击后事件 */
.logo{
    padding-top: 8px;font-size: 30px;color: white;font-family: 华文行楷;
}

/*底部*/
.foot{margin: 60px 0px 20px 0px}
#time{border-bottom: 1px dashed black;padding-bottom: 10px}


/*  小屏 */
@media screen and (max-width: 768px) {

    #menu {
        color: #222
    }

    .logo {
        padding-left: 25px;
        padding-top: 6px;
        font-size: 30px;
        font-family: 华文行楷;
    }

    .foot{margin: 50px auto;height: 100px}
}