<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.dao.AdminUserMapper">

<!-- 查找用户  -->
<select id="selectAdminUser" resultType="Admin_user">
	select * from book_admin_user 
	<trim prefix="where" prefixOverrides="and | or">
			<if test="a_name != null and a_name != '' ">
				and a_name=#{a_name}
			</if>
			<if test="a_email != null and a_email != '' ">
				and a_email=#{a_email}
			</if>
			<if test="a_phone != null and a_phone != '' ">
				and a_phone=#{a_phone}
			</if>
			<if test="a_password != null and a_password != '' ">
				and a_password=#{a_password}
			</if>
	</trim>
</select>


<!-- 更新用户信息 -->
<update id="updateAdminUserInfo" parameterType="Integer">
	update book_user
	<trim prefix="set" suffixOverrides="," suffix="where a_id=#{a_id}">
			<if test="a_name != null">a_name=#{a_name},</if>
			<if test="a_email != null">a_email=#{a_email},</if>
			<if test="a_phone != null">a_phone=#{a_phone},</if>
			<if test="a_password != null">a_password=#{a_password},</if>	
	</trim>

</update>


<!-- 查找所有User用户信息  -->
<select id="selectAllUser" resultType="User">
	select * from book_user
</select>

<!-- 查找所有User在线人数  -->
<select id="selectUserStateNum" resultType="Integer">
	select count(*) from book_user 
	<trim prefix="where" prefixOverrides="and | or">
			<if test="state != null and state != '' ">
				and state=#{state}
			</if>		
	</trim>
	
	
	
	
</select>



<!--修改密码  -->

	
</mapper>