<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xmlns:aop="http://www.springframework.org/schema/aop"  
        xmlns:p="http://www.springframework.org/schema/p"  
        xmlns:tx="http://www.springframework.org/schema/tx"  
        xmlns:context="http://www.springframework.org/schema/context"  
        xsi:schemaLocation="   
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd   
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd">
       
<!-- ###修改###  -->
    <!-- 包扫描  -->    
    <context:component-scan base-package="com.book.service"/> 
    <context:component-scan base-package="com.book.dao"/>  
    
    <!-- 配置数据源位置 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="location">
    		<value>classpath:db.properties</value>
    	</property>
    </bean>
    
    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
    	<property name="driverClassName" value="${driverClassName}" />
        <property name="url" value="${url}" />
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
    
    </bean>
    
    <!-- 配置SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	 <!--配置数据源属性 -->
        <property name="dataSource" ref="dataSource" />
        <!--配置MyBatis配置文件的位置-->
        <property name="configLocation" value="classpath:applicationContext-mybatis.xml" />
        <!-- 配置Mapper映射文件的位置 -->
        <property name="mapperLocations">
            <list>   
<!-- ###修改###  -->    	
                <value>classpath:com/book/dao/**/*.xml</value>
            </list>
        </property>
    </bean>
       
    
    <!-- 自动扫描 Mapper -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
<!-- ###修改###  -->
    	<property name="basePackage" value="com.book.dao"></property>
    </bean>
    
    <!-- 定义事物管理类 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"></property>
    </bean>
    
    
    
    
    
    <tx:advice id="txAdvice" transaction-manager="txManager"></tx:advice>
    
</beans>


